@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared styles */
.btn-priamry{
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    background-color: #E95A08;
    /* border-radius: 5px; */
    width: 100%
}
.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* img.img-abosulate{
    z-index: 1px;
    position: absolute;
    width: 250px;
    height: 250px;
    left: 474px;
    top: 581%;
} */
/* header styles */
/* styles for navbar  */
/* .navbar ul li a{
    color: #8987A1;
}
.navbar ul li a:active{
    color: #252432;
} */

.brands_new{
    background-color: rgba(255, 144, 14, 0.1);
    /* width: 1920px; */
}

/* .latest-deal-img{
    /* background-image: url("../images/hero-flower.png");
} */ */

h2.latest-detals-title {
    text-align: center;
    vertical-align: middle;
}

.join input[type="email"] {
    background-color: #ffffff;
    padding: 9px 14px 9px 14px;
    width: 644px;
    margin-right: -6px;
}
.join input[type="button"] {
    background-color: #E95A08;
    padding: 9px 14px 9px 14px;
    color: #ffffff;
}
.flower-plant-img1{
    position: absolute;
    /* right: 0;
    top: 0; */
    z-index: 3;
    margin: -121px 0px 0px 340px;
}
.flower-plant-img2{
    position: absolute;
    /* left: 30px;
    top: 85px; */
    z-index: 2;
}
@media screen and (max-width: 576px){
    .logo{
        width: 90px;
        padding-left: 24px;
    }
    .join input[type="email"] {
        background-color: #ffffff;
        padding: 9px 14px 9px 14px;
        width: 270px;
        margin-right: -6px;
    }
}
